.main-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.small-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 80%;
  width: 50%;

  border-radius: 15px;
  padding: 50px;
  background: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
}

.heading {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-weight: bold;
}
.para {
  font-size: 25px;
  font-family: 'Roboto';
  margin-top: 15px;
  color: #334155;
}

.button {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #0f172a;
  font-family: 'Roboto';
  border-radius: 5px;
  border-width: none;
  font-size: 15px;
}

.para1 {
  font-size: 18px;
  font-family: 'Roboto';
  margin-top: 15px;
  color: #334155;
}
